<form>
  <div class="row">
    <label>
      Title <input value={{title}}>
    </label>
  </div>
  <div class="row">
    <label>
      Content
      <textarea>
        {{content}}
      </textarea>
    </label>
  </div>
  <div class="row">
    {{yield}}
  </div>
</form>
