<form>
  <div class="row">
    <label>
      Title<br>
      <input
        type="text"
        value={{title}}
        oninput={{action "updateTitle" value="target.value"}}
        >
    </label>
  </div>
  <div class="row">
    <label>
      Content<br>
      <textarea>{{content}}</textarea>
    </label>
  </div>
  <div class="row">
    {{yield}}
  </div>
</form>
