* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

.ember-application {
  padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav-item {
  display: inline-block;
  zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 16.6667%;
    }

    .header {
        margin: 1em 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .nav-list {
      text-align: right;
      clear: right;
    }
}

h1 a {
  text-decoration: none;
  color: white;
}

.is-loading {
  background: url(/images/loading-bubbles.svg) #afb99f center no-repeat;
}

.is-invisible {
  visibility: hidden;
}

.content-box {
  padding-right: 3em;
}
