<h1 class="content-subhead">Edit Post</h1>

{{! BEGIN-SNIPPET templates.posts.edit }}
{{#post-edit  post=model.post
              on-save=(action 'save')
              as |component|}}
  <button
    class="pure-button pure-button-primary"
    {{action 'save' target=component}}
    disabled={{not-eq component.isSavable true}}
    >Save</button>
  <button
    class="pure-button"
    {{action 'discard' target=component}}
    disabled={{component.isUnchanged}}
    >Discard</button>
{{/post-edit}}
{{! END-SNIPPET}}
