<h3>New Post</h3>
{{#post-edit
  on-save=(action 'save')
  as |component|}}
  <button {{action 'save' target=component}}
          disabled={{not-eq component.isValid true}}
    >Create</button>
  <button {{action 'discard' target=component}}
          disabled={{component.isUnchanged}}
    >Discard</button>
{{/post-edit}}
