<h3>New Post</h3>

{{! BEGIN-SNIPPET templates.posts.new }}
{{#post-edit
  on-save=(action 'save')
  as |component|}}
  <button
    class="pure-button pure-button-primary"
    {{action 'save' target=component}}
          disabled={{not-eq component.isValid true}}
    >Create</button>
{{/post-edit}}
{{! END-SNIPPET}}
