<h3>New Post</h3>
{{#post-edit
  on-save=(action 'save')
  as |component|}}
  <button {{action 'save' target=component}}>Create</button> <button {{action 'discard' target=component}}>Discard</button>
{{/post-edit}}
