<section>
    <header class="post-header">
        <h2 class="post-title">About</h2>
    </header>
    <div class="post-description">
        <p>This application is being created and maintained to help Ember developers understand evolving Ember idioms and concepts.</p>
        <p>If need help, you can ask a question by <a href="https://github.com/embersherpa/ember-crud/issues/new">creating an issue</a> in the app's repo.</p>
        <h3>Roadmap</h3>
        <p>We're planning to make the following changes to the application (PRs are welcome).</p>
        <div class="pure-form todo-list">
          {{#todo-item}}Upgrade to Ember 2.0{{/todo-item}}
          {{#todo-item}}Use Ember Data{{/todo-item}}
          {{#todo-item}}Use <a href="https://github.com/offirgolan/ember-cp-validations">ember-cp-validations</a> validation{{/todo-item}}
          {{#todo-item}}Add authentication with <a href="https://github.com/Vestorly/torii">Torii</a>{{/todo-item}}
          {{#todo-item}}Add permissions with <a href="https://github.com/minutebase/ember-can">ember-can</a>{{/todo-item}}
        </div>
    </div>
</section>
